@model Maquillaje.WebUI.Models.VentaViewModel

@{
    ViewData["Title"] = "Crear factura";
    Layout = "~/Views/Shared/_Layout.cshtml";

    decimal subtotal = 0;
    decimal IVA = 0;
    decimal total = 0;
}


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header" style="background-color:#ffd3d8">

                <h2><img src="~/img/cli.png" width="40px" height="40px" /><font face="segoe script" color="black">  Agregar Cliente</font>  </h2>
            </div>
            <div class="card-body">
                <div>
                    <form asp-action="Create" id="formCreate">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input asp-for="ven_Id" name="vde_Id" value="@ViewBag.vde_VentaId" hidden />


                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label asp-for="ven_Cliente" class="control-label"></label>
                                    <select asp-for="ven_Cliente" id="ven_Cliente" class="form-control" asp-items="ViewBag.ven_Cliente">
                                        <option>--Seleccione un cliente--</option>
                                    </select>
                                    <label id="clie_IdValidation" name="clie_IdValidation" class="text-danger control-label" hidden>El campo Cliente es obligatorio</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label asp-for="ven_MetodoPago" class="control-label"></label>
                                    <select asp-for="ven_MetodoPago" id="ven_MetodoPago" class="form-control" asp-items="ViewBag.ven_MetodoPago">
                                        <option>--Seleccione un método de pago--</option>
                                    </select>
                                    <label id="meto_IdValidation" name="meto_IdValidation" class="text-danger control-label" hidden>El campo Método de Pago es obligatorio</label>
                                </div>
                            </div>

                        </div>
                        <br />


                        <div class="card-footer">
                            <center><input type="button" style="align-content: end" icon="icon-copy fa fa-arrow-down" value="Continuar" id="btnSiguiente" class="btn btn-outline-secondary" /></center>
                        </div>

                    </form>
                </div>


            </div>
        </div>
    </div>


    <div class="col-12">
        @Html.Partial("_CreateDetalles", new Maquillaje.WebUI.Models.VentaDetallesViewModel())
        @Html.Partial("_Edit", new Maquillaje.WebUI.Models.VentaDetallesViewModel())
        @Html.Partial("_Delete", new Maquillaje.WebUI.Models.VentaDetallesViewModel())
    </div>


    <div class="col-lg-12 mb-0 order-0">
        <div class="card" style="background-color: white">
            <div class="d-flex align-items-end row">
                <div class="col-sm-12">

                    <div class="card-body">
                        <table class="table table-bordered table-hover" id="DataTable">
                            <thead>
                                <tr>
                                    <th>N° Factura</th>
                                    <th>Nombre</th>
                                    <th>Cantidad</th>
                                    <th>Precio Unitario</th>
                                    <th>Precio total</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var detalle in ViewBag.detalles)
                                {
                                    <tr>
                                        <td>@detalle.vde_VentaId</td>
                                        <td>@detalle.pro_Nombre</td>
                                        <td>@detalle.vde_Cantidad</td>
                                        <td>@detalle.pro_PrecioUnitario</td>
                                        <td>@detalle.vde_PrecioTotal</td>
                                        <td>
                                            <a onclick="AbrirModalEdit('@detalle.vde_Id,@detalle.pro_Id,@detalle.vde_Cantidad,@detalle.pro_Categoria,@detalle.vde_VentaId')" id="btnEditarDetalle" class="btn btn-outline-secondary"><i class="icon-copy fa fa-pencil-square-o" aria-hidden="true"></i> Editar</a> |
                                            <a onclick="eliminar(@detalle.vde_Id, @detalle.vde_VentaId)" id="btnEliminarDetalle" class="btn btn-outline-success"><i class="icon-copy fa fa-trash" aria-hidden="true"></i> Borrar</a>
                                        </td>
                                    </tr>

                                    subtotal = detalle.vde_PrecioTotal + subtotal;
                                }
                            </tbody>
                        </table>

                        @{
                            IVA = subtotal * 0.15M;
                            total = subtotal + IVA;
                            <br />
                            <div class="row">
                                <div class="col-sm-8 "></div>
                                <div class="col-sm-4 ">
                                    <br />
                                    <label>Subtotal de compra:</label>
                                    <input class="form-control" disabled value="@subtotal" />
                                    <br />
                                    <label>Impuesto sobre venta:</label>
                                    <input class="form-control" disabled value="@(Math.Round(IVA, 2))" />
                                    <br />
                                    <label>Total a Pagar:</label>
                                    <input class="form-control" disabled value="@(Math.Round(total, 2))" />
                                    <br />
                                    <br />

                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-8"></div>
                                <div class="col-sm-4">
                                    <a asp-action="Index" disabled id="btnFinalizar" class="btn btn-outline-success btn-lg"><i class="icon-copy fa fa-credit-card" aria-hidden="true"></i> Pagar</a>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<br />
<br />

@*<div class="col-lg-12 mb-0 order-0">
    <div class="card" style="background-color: white">
        <div class="d-flex align-items-end row">
            <div class="col-sm-12">

                <div class="card-body">

                    <div class="align-text-bottom">

                        <div class="row">
                            <div class="col-sm-8 "></div>
                            <div class="col-sm-4 ">
                                <br />
                                <label>Subtotal:</label>
                                <input class="form-control" disabled value="@subtotal" />
                                <br />
                                <label>IVA:</label>
                                <input class="form-control" disabled value="@(Math.Round(IVA, 2))" />
                                <br />
                                <label>Total:</label>
                                <input class="form-control" disabled value="@(Math.Round(total, 2))" />
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>*@



@if (ViewBag.Script != null)
{
    <script>
        $(document).ready(function () {
            @Html.Raw(ViewBag.Script)
        });
    </script>

    ViewBag.Script = null;
}
<script src="~/js/Detalles/VentaCreate.js"></script>
