@model IEnumerable<Maquillaje.Entities.Entities.VW_tbVentas_List>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Listado de Ventas</h1>

<br />
<p>
    <a class="btn btn-secondary" asp-action="Create">Nueva Venta</a>
</p>
<table class="table table-report -mt-2" id="DataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ven_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cli_Nombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.emp_Nombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.met_Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ven_Fecha)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ven_Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cli_Nombres)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.emp_Nombres)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.met_Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ven_Fecha)
                </td>
                <td>
                    <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.ven_Id">Details</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ven_Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (ViewBag.Script != null)
{
    <script>
        $(document).ready(function () {
            @Html.Raw(ViewBag.Script)
        });
    </script>

    ViewBag.Script = null;
}

<script src="~/js/Ventas/Index.js"></script>
