@model IEnumerable<Maquillaje.WebUI.Models.EmpleadosViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Empleados</h1>

<div class="col-lg-12 mb-0 order-0">
    <div class="card" style="background-color: white">
        <div class="d-flex align-items-end row">
            <div class="col-sm-12">
                <div class="card-header">
                    <a class="btn btn-primary btn-icon-text" asp-action="Create">
                        <i class="mdi mdi-file-check btn-icon-prepend"></i>Nuevo
                    </a>

                </div>
                <div class="card-body">
                    <table class="table table-responsive table-light" id="DataTable">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.emp_ID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.emp_Nombre)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.emp_DNI)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.emp_Sexo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.emp_Telefono)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.emp_Sucursal)
                                </th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.emp_ID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.emp_Nombre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.emp_DNI)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.emp_Sexo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.emp_Telefono)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.emp_Sucursal)
                                    </td>
                                    <td>
                                        <a class="btn btn-warning btn-icon-text" asp-action="Edit" asp-route-id="@item.emp_ID">
                                            <i class="mdi mdi-reload btn-icon-prepend"></i>Editar
                                        </a> |
                                        <a class="btn  btn-success" asp-action="Details" asp-route-id="@item.emp_ID">Detalles</a> |
                                        <a class="btn btn-danger btn-icon-text" asp-action="Delete" asp-route-id="@item.emp_ID">
                                            <i class="mdi mdi-alert btn-icon-prepend"></i>Eliminar
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
