@model Maquillaje.WebUI.Models.EstadosCivilesViewModel

@{
    ViewData["Title"] = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
    <img src="~/Content/iMG/giphy.gif" width="100" />
    <h1 style="color:black;font-family:'Segoe Print'">Detalles Estados Civiles</h1>
</div>
<div>
    <hr />



    <center>
        <dl class="dl-horizontal">

            <div class="row">
                <div class="col-sm-2"></div>

                <div class="col-sm-4">
            <dt>
                Estado Civil Id
            </dt>

            <dd class="form-control">
                @Html.DisplayFor(model => model.est_ID)
            </dd>
</div>


<div class="col-sm-4">
    <dt>
        Estado Civil Descripcion
    </dt>

    <dd class="form-control">
        @Html.DisplayFor(model => model.est_Descripcion)
    </dd>
</div>

    </dl>
    </center>
<br />
<div class="card">
    <div class="text-center">
        <div class="card-header" style="background-color: #ffd3d8">
            <h4 style="color:black;font-family:'Segoe Print'">Auditoria</h4>
        </div>


        <table class="table">
            <thead>
                <tr>
                    <th><strong>Acción</strong></th>
                    <th><strong>Usuario</strong></th>
                    <th><strong>Fecha</strong></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Creado</td>
                    <td>@ViewBag.UsuCrea</td>
                    <td>@Html.DisplayFor(model => model.est_FechaCrea)</td>
                </tr>
                <tr>
                    <td>Modificado</td>
                    <td>@ViewBag.UsuModi</td>
                    <td>@Html.DisplayFor(model => model.est_FechaModi)</td>
                </tr>

            </tbody>
        </table>

    </div>
    <div class="card-footer" style="background-color: #ffd3d8">
        <div class="text-center">
            <a class="btn btn-outline-secondary" asp-action="Index"><i class="icon-copy fa fa-reply" aria-hidden="true"></i> Volver</a>
        </div>
    </div>
</div>
