@model IEnumerable<Maquillaje.WebUI.Models.EstadosCivilesViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-12 mb-0 order-0">
    <div class="card" style="background-color: white">
        <div class="d-flex align-items-end row">
            <div class="col-sm-12">
                <br />

                <div class="card-header">
                    <a class="button w-24 rounded-full mr-1 mb-2 bg-theme-1 text-white" data-toggle="modal" data-target="#CreateEst">Nuevo</a>

                </div>
                <br />

                <div class="card-body">
                    <table class="table table-report -mt-2" id="DataTable">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.est_ID)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.est_Descripcion)
                                </th>

                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.est_ID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.est_Descripcion)
                                    </td>


                                    <td>
                                        <a class="button w-24 rounded-full mr-1 mb-2 bg-theme-12 text-white" data-toggle="modal" data-target="#EditCate" onclick="Editar('@item.est_ID,@item.est_Descripcion')">Editar</a> |
                                        <a class="button w-24 rounded-full mr-1 mb-2 bg-theme-9 text-white" asp-action="Details" asp-route-id="@item.est_ID">Detalles</a> |
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

@Html.Partial("_Create");
@Html.Partial("_Edit");
