@model IEnumerable<Maquillaje.WebUI.Models.EstadosCivilesViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<div class="col-lg-12 mb-0 order-0">
    <div class="card" style="background-color: white">
        <div class="d-flex align-items-end row">
            <div class="col-sm-12">
                <div class="card-header" style="background-color:#ffd3d8">
                    <div class="text-center">
                        <img src="~/Content/iMG/giphy.gif" width="100" />
                        <h3 style="color:black;font-family:'Segoe Print'">Listado Estados Civiles</h3>
                    </div>
                </div>
                <div class="card-body">

                    <a class="btn btn-primary" data-toggle="modal" data-target="#CreateEst"><i class="icon-copy fa fa-plus" aria-hidden="true"></i> Nuevo</a>
                    <br />
                    <br />
                    <table class="table table-report -mt-2" id="DataTable">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.est_ID)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.est_Descripcion)
                                </th>

                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.est_ID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.est_Descripcion)
                                    </td>


                                    <td>
                                        <a class="btn btn-primary" data-toggle="modal" data-target="#EditCate" onclick="Editar('@item.est_ID,@item.est_Descripcion')"><i class="icon-copy fa fa-pencil-square-o" aria-hidden="true"></i> Editar</a> |
                                        <a class="btn btn-outline-secondary" style="color: black" asp-action="Details" asp-route-id="@item.est_ID">
                                            <i class="icon-copy fa fa-file-text-o" aria-hidden="true"></i> Detalles
                                        </a> 
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

@Html.Partial("_Create")
@Html.Partial("_Edit")
