@model IEnumerable<Maquillaje.WebUI.Models.InventarioViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<div class="col-lg-12 mb-0 order-0">
    <div class="card" style="background-color: white">
        <div class="d-flex align-items-end row">
            <div class="col-sm-12">
                <div class="card-header" style="background-color:#ffd3d8">
                    <div class="text-center">
                        <img src="~/Content/iMG/giphy.gif" width="100" />
                        <h3 style="color:black;font-family:'Segoe Print'">Listado del Inventario</h3>
                    </div>
                </div>
                <div class="card-body">

                    <br />
                    <br />
                    <table class="table table-report -mt-2" id="DataTable">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.inv_Id)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.pro_Nombre)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.pro_StockInicial)
                                </th>
                                <th>
                                    Existencias
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.inv_Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.pro_Nombre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.pro_StockInicial)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.inv_Cantidad)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

@Html.Partial("_Create")
