@model Maquillaje.WebUI.Models.CategoriaViewModel

@{
    ViewData["Title"] = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalles</h1>

<div>
    <h4>Detalles Categorias</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cat_Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cat_Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cat_FechaCrea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cat_FechaCrea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cat_FechaModi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cat_FechaModi)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-light" asp-action="Index">Volver</a>
</div>
