@model Maquillaje.WebUI.Models.CategoriaViewModel

@{
    ViewData["Title"] = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
    <img src="~/Content/iMG/giphy.gif" width="100" />
    <h1 style="color:black;font-family:'Segoe Print'">Detalles Categoria</h1>
</div>
<div>
    <hr />



    <center>
        <dl class="dl-horizontal">

            <div class="row">
                <div class="col-sm-2"></div>

                <div class="col-sm-4">
            <dt>
                Categoría Id
            </dt>

            <dd class="form-control">
                @Html.DisplayFor(model => model.cat_Id)
            </dd>
</div>


<div class="col-sm-4">
    <dt>
        Categoría Descripcion
    </dt>

    <dd class="form-control">
        @Html.DisplayFor(model => model.cat_Descripcion)
    </dd>
</div>

    </dl>
    </center>

<div class="card-body">
    <table class="table">
        <thead>
            <tr>
                <th>Acción</th>
                <th>Usuario</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Creado</td>
                <td></td>
                <td>@Html.DisplayFor(model => model.cat_FechaCrea)</td>
            </tr>
            <tr>
                <td>Modificado</td>
                <td></td>
                <td>@Html.DisplayFor(model => model.cat_FechaModi)</td>
            </tr>
          
        </tbody>
    </table>
</div>


<div>
    <a class="btn btn-light" asp-action="Index">Volver</a>
</div>
<center><strong><h2>@ViewBag.NombreCategoria</h2></strong></center>
