@model IEnumerable<Maquillaje.WebUI.Models.ClientesViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (!string.IsNullOrEmpty(ViewBag.SuccessMessageScript))
{
    @Html.Raw(ViewBag.SuccessMessageScript)
}
<div class="col-lg-12 mb-0 order-0">
    <div class="card" style="background-color: white">
        <div class="d-flex align-items-end row">
            <div class="col-sm-12">
                <div class="card-header" style="background-color:#ffd3d8">
                    <div class="text-center">
                        <img src="~/Content/iMG/giphy.gif" width="100" />
                        <h3 style="color:black;font-family:'Segoe Print'">Listado Clientes</h3>
                    </div>
                </div>
                <div class="card-body">

                    <a class="btn btn-primary btn-icon-text" style="color: black" asp-action="Create">
                        <i class="icon-copy fa fa-plus" aria-hidden="true"></i> Nuevo
                    </a>
                    <br />
                    <br />
                    <table class="table table-report -mt-2" id="DataTable">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.cli_ID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.cli_Nombre)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.cli_DNI)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.cli_sexo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.cli_Municipio)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.cli_EstadoCivil)
                                </th>

                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.cli_ID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.cli_Nombre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.cli_DNI)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.cli_sexo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.cli_Municipio)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.cli_EstadoCivil)
                                    </td>
                                    <td>
                                        <a class="btn btn-primary" style="color: black" asp-action="Edit" asp-route-id="@item.cli_ID">
                                            <i class="icon-copy fa fa-pencil-square-o" aria-hidden="true"></i> Editar
                                        </a> |
                                        <a class="btn btn-outline-secondary" style="color: black" asp-action="Details" asp-route-id="@item.cli_ID"> <i class="icon-copy fa fa-file-text-o" aria-hidden="true"></i> Detalles</a> |
                                        <a class="btn btn-outline-success" onclick="ShowModal(@item.cli_ID)" data-id="@item.cli_ID">
                                            <i class="icon-copy fa fa-trash" aria-hidden="true"></i> Eliminar
                                        </a>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

@Html.Partial("_Delete")