@model IEnumerable<Maquillaje.WebUI.Models.UsuariosViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-lg-12 mb-0 order-0">
    <div class="card" style="background-color: white">
        <div class="d-flex align-items-end row">
            <div class="col-sm-12">
                <div class="card-header">
                    <a class="btn btn-primary btn-icon-text" data-toggle="modal" data-target="#CreateUsu">
                        <i class="mdi mdi-file-check btn-icon-prepend"></i>Nuevo
                    </a>

                </div>
                <div class="card-body">
                    <table class="table table-responsive-sm table-light" id="DataTable">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.usu_ID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.usu_Usuario)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Empleado)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.usu_EsAdmin)
                                </th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.usu_ID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.usu_Usuario)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Empleado)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.usu_EsAdmin)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.usu_ID">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@item.usu_ID">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@item.usu_ID">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
@Html.Partial("_Create")
@*@Html.Partial("_Edit");
@Html.Partial("_Delete");*@
