@model IEnumerable<Maquillaje.WebUI.Models.VentasViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-12 mb-0 order-0">
    <div class="card" style="background-color: white">
        <div class="d-flex align-items-end row">
            <div class="col-sm-12">
                <div class="card-header">
                    <a class="btn btn-primary btn-icon-text" asp-action="Create">
                        <i class="mdi mdi-file-check btn-icon-prepend"></i>Nuevo
                    </a>

                </div>
                <div class="card-body">
                    <table class="table table-responsive-sm table-light" id="DataTable">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.ven_Fecha)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ven_Cliente)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ven_Empleado)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.met_Descripcion)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.suc_Descripcion)
                                </th>

                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ven_Fecha)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ven_Cliente)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ven_Empleado)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.met_Descripcion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.suc_Descripcion)
                                    </td>

                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.ven_Id">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@item.ven_Id">Details</a> |
                                        <a class="btn-delete btn btn-danger" onclick="ShowModal(@item.ven_Id)" data-id="@item.ven_Id">Eliminar</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

@Html.Partial("_Delete")