@model IEnumerable<Maquillaje.WebUI.Models.SucursalesViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.suc_Id)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.suc_Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.suc_Municipio)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.suc_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.suc_Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.suc_Municipio)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.suc_Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.suc_Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.suc_Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
