@model IEnumerable<Maquillaje.WebUI.Models.SucursalesViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-12 mb-0 order-0">
    <div class="card" style="background-color: white">
        <div class="d-flex align-items-end row">
            <div class="col-sm-12">
                

                <div class="card-body">
                    <a class="btn btn-outline-primary" data-toggle="modal" data-target="#CreateSuc">Nuevo</a>
                    <br />
                    <br />

                    <table class="table table-report -mt-2" id="DataTable">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.suc_Id)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.suc_Descripcion)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.suc_Municipio)
                                </th>

                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.suc_Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.suc_Descripcion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.suc_Municipio)
                                    </td>
                                    <td>
                                        <a class="btn btn-outline-info" data-toggle="modal" data-target="#EditSuc" onclick="Editar('@item.suc_Id,@item.suc_Descripcion')">Editar</a> |
                                        <a class="btn btn-outline-success" asp-action="Details" asp-route-id="@item.suc_Id">Detalles</a> |
                                        <a class="btn btn-outline-danger" onclick="ShowModal(@item.suc_Id)" data-id="@item.suc_Id">Eliminar</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
@Html.Partial("_Create");
@Html.Partial("_Edit");
@Html.Partial("_Delete");